@import "tailwindcss";
:root {
  --font-montserrat: var(--font-montserrat);
}


html, body {
  width: 100%;
  height: 100%;
  background-color: #fffefa;
  font-family: var(--font-montserrat), sans-serif;
  scroll-behavior: smooth;
}


.container {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px 20px;
}